.trending__container {
  height: 50px;
  margin: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.trending__title {
  font-size: 3rem;

  background: -webkit-linear-gradient(
    103.22deg,
    #7b0bf3 -13.86%,
    #ce6c38 99.55%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
